<h1>New Tournament: 8 players</h1>

<!--This form is for management purposes only, with it we will be able to populate the TOURNAMENT table with a name-->

<!--Each player will be inserted from the player form and that information will be fed to an array, we will randomize this array, and use it to populate our form-->

@players = ['array for players from the players form']




<form action = '/create', method = 'post'>
   <label for = 'tournament-name'>Tournament Name: </label>
   <input name = 'tournament-name', type = 'text'></br>
   <input name ='submit', type = 'submit'></br>

   <label for = 'player1'>Player1</label>
   <input name = 'player1', type = 'text'></br>
   <input name ='submit', type = 'submit'></br>

   <label for = 'player2'>player2</label>
   <input name = 'player2', type = 'text'></br>
   <input name ='submit', type = 'submit'></br>

   <label for = 'player3'>player3</label>
   <input name = 'player3', type = 'text'></br>
   <input name ='submit', type = 'submit'></br>

   <label for = 'player4'>player4</label>
   <input name = 'player4', type = 'text'></br>
   <input name ='submit', type = 'submit'></br>

   <label for = 'player5'>player5</label>
   <input name = 'player5', type = 'text'></br>
   <input name ='submit', type = 'submit'></br>

   <label for = 'player6'>player6</label>
   <input name = 'player6', type = 'text'></br>
   <input name ='submit', type = 'submit'></br>

   <label for = 'player7'>player7</label>
   <input name = 'player7', type = 'text'></br>
   <input name ='submit', type = 'submit'></br>

   <label for = 'player8'>player8</label>
   <input name = 'player8', type = 'text'></br>
   <input name ='submit', type = 'submit'></br>

 </form>