<h1>New Tournament: 8 players</h1>
<form action = '/create', method = 'post'>
   <select multiple="true">
      <option>placeholder</option>
   </select>
   <input name ='submit', type = 'submit'>
 </form>