<!DOCTYPE html>
<html>
<head>
  <title> Ping Pong Tournament </title>
<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"> -->
    <style type="text/css">
        .main-nav {
            margin: 1em;
            text-align: center;
        }

        .main-nav a {
            padding: 1em;
            font-size: 1.25em;
        }
    </style>
</head>
<body>
    <nav class="main-nav">
        <a href="/">Home</a>
        <a href="/create">Create Player</a>
        <a href="/create_tournament">Create tournament</a>
    </nav>


  <%= yield %>
</body>
</html>