<!DOCTYPE html>
<html>
<head>
  <title> Ping Pong Tournament </title>
<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"> -->
    <style type="text/css">

    @font-face {
        font-family: "Lobster";
        src: url("<link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>");
    }

        body {
            background: #66FFCC;
        }
        .navigation {
            background: #99FF66;
            height: 65px;
            padding: 0;
            margin: 0;
        }
        .main-nav {
            margin: 1em;
            display:inline-block; 
            vertical-align:middle;
            text-align: center
        }
        .champ {
            background-color: purple;
        }

        .fancy1 {
            background: blue;
            height: 100%;

        }

        .banner {
            width: 65px;
            font-family: 'Lobster', cursive;
            font-size: 35px;
        }

        .main-nav a {
            padding: 1em;
            font-size: 1.25em;
        }
    </style>
</head>
<body>
<div class='navigation'>    
    <nav class="main-nav">
        <a href="/">Tournament Archive</a>
        <a href="/create">Create Player</a>
        <a href="/create_tournament">Create tournament</a>
        <a href="/select_stats">View Statistics</a>
        <a href="/champion">View Champions</a>
    </nav>
</div>


  <%= yield %>
</body>
</html>