<h1>New Player</h1>
<form action = '/create', method = 'post'>
   <label for = 'player-name'>Player Name: </label> 
   <input name = 'player-name', type = 'text'></br>

   <input name ='submit', type = 'submit'></br>

 </form>