<table class="tg 16player">
	<th>Tournament</th>
	<tr>
		<td class="round">Round1</td>
   		<td class="round">Round2</td>
   		<td class="round">Round3</td>
   </tr>
	<tr>
		<td class="player-cell round1-match1">player1</td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
	</tr>
	<tr class="invisible">
		<td></td>
		<td class="player-cell round1-match1winner">winner1</td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<td class="player-cell round1-match1">player2</td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
	</tr>
	<tr class="invisible">
		<td></td>
		<td></td>
		<td class="player-cell">round3</td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<td class="player-cell round1-match2">player3</td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
	</tr>
	<tr class="invisible">
		<td></td>
		<td class="player-cell round1-match2winner">winner2</td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<td class="player-cell round1-match2">player4</td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
	</tr>
	<tr class="invisible">
		<td></td>
		<td></td>
		<td></td>
		<td class="player-cell">champion</td>
		<td></td>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<td class="player-cell round1-match3">player5</td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
	</tr>
	<tr class="invisible">
		<td></td>
		<td class="player-cell round1-match3winner">winner3</td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<td class="player-cell round1-match3">player6</td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
	</tr>
	<tr class="invisible">
		<td></td>
		<td></td>
		<td class="player-cell">round3</td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<td class="player-cell round1-match4">player7</td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
	</tr>
	<tr class="invisible">
		<td></td>
		<td class="player-cell round1-match4winner">winner4</td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<td class="player-cell round1-match4">player8</td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
	</tr>
</table>

<style type="text/css">


.round {
	font-family:Arial-Black; 
	text-align: center;
	padding:10px 5px;
}

.player-cell {
    font-family:Arial-Black; 
 	text-align: center;
    sans-serif;
    font-size:14px;
    padding:10px 5px;
    border-style:solid;
    border-width:2px;
    margin-right: 
}


</style>
<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script>
	$(document).ready(function() {
		$('.round1-match1').on('click', function() {
			$(this).css('background-color', '#00ff00');
			$('.round1-match1winner').text($(this).text());
			$('.round1-match1winner').css('background-color', '#00ff00');
			$('.round1-match1').not($(this)).css('background-color', 'red');
		});


	});


</script>